body {
    background-color: rgb(254,254,255);
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    }

header {
    display: flex;
    position: fixed;
    width: 100%;
}

header>nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    /* background-color: aqua; */
    /* 
    flex-flow: row nowrap;
    align-content: space-between; 
    */
}

.marco {
    height: 100%;
    width: 20%;
}

.marco img {
    height: 100%;
    transform: scale(50%);
    /*  
    width: 100%;
    background-color: bisque;
    translate: 0 0;
*/    

}


.menu {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    vertical-align: middle;
    /* background-color: azure; */
    align-items: center;

}

.menu>p {
    width: 100%;
    text-align: center;
    font: 12px bold;
    
}

.sec0 {
    background-color: rgb(226,231,41);
    height: 700px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;

}
.sec0 div {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

/*  
.slice1, .slice2 {    
    background-color: red;
    width: 100%;
}
*/

.sec0 div img {
    object-fit: cover;
    width: 50%;
    /* scale: 40%; 
    */
    background-color: purple;
}

.sec0 div p {
    height: 100%;
    width: 50%;
    font-size: 72px;
    padding: 0% 10% 0%;
    /* 
    scale: 40%; 
    background-color: pink;
    */
}
/* 
.slice2 {
} */
.sec1 {
    
}