body {
    background-color: rgb(254,254,255);
    display: flex;
    flex-direction: column;
    margin: 0;
    }

header {
    width: 100%;
    display: flex;
    position: fixed;
    flex-flow: row;
}


header>nav {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    /* 
    background-color: aqua;
     */
}

header>nav>img {
    width: 50%;
    transform: scale(30%);
    background-color: bisque;
    
    
    /*  
    flex-direction: row;
    width: 40%;
    */    
    
}

.menu {
    display: flex;
    flex-flow: row;
    width: 60%;
    /*  
    background-color: azure;
    */
    align-content: space-between;
}

.menu>p {
    align-content: center;
    width: 100%;
    text-align: center;
    text-decoration: double;
    
}

.sec0 {
    /* transform:translateY(100%); 
    */
    width: 200%;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    vertical-align: middle;
    background-color: rgb(226,230,40);
}

.sec0>div {
    width: 50%;
    vertical-align: middle;
}

.sec0>div>img {
    height: 100%;
    width: 100%; 
    /*
    align-self: center;
    background-color: brown;
    */
}

.sec0>div>p {
    /* 
    */
    padding: 10% 15%;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    font-weight: bold;
}




/*
textarea {
    background-color: green;
    color: rgb(0, 140, 255);
    font-style: italic double;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: cadetblue;
}

button {
    background-color: blue;
    color: red;

    
}

button:hover {
    background-color: red;
}
 */
img {
    height: 100px;
    width: 100px;
}